
/* set global font to Open Sans */
body {
		text-align: center;
		font-family: 'Lato', sans-serif;
}

/* header */
h1 {
		color: #55acee;
		text-align: center;
}

/* header/copyright link */
.link {
		text-decoration: none;
		color: #55acee;
		border-bottom: 2px dotted #55acee;
		transition: .3s;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		-o-transition: .3s;
		cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.link:hover {
		color: #2ecc71;
		border-bottom: 2px dotted #2ecc71;
}

/* button div */
#buttons {
		padding-top: 50px;
		text-align: center;
}

/* start da css for da buttons */
.btn {
		border-radius: 5px;
		padding: 15px 25px;
		font-size: 22px;
		text-decoration: none;
		margin: 20px;
		color: #fff;
		position: relative;
		display: inline-block;
}

.btn:active {
		transform: translate(0px, 5px);
		-webkit-transform: translate(0px, 5px);
		box-shadow: 0px 1px 0px 0px;
}

.blue {
		background-color: #55acee;
		box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
		background-color: #6FC6FF;
}

.green {
		background-color: #2ecc71;
		box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
		background-color: #48E68B;
}

.red {
		background-color: #e74c3c;
		box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
		background-color: #FF6656;
}

.purple {
		background-color: #9b59b6;
		box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
		background-color: #B573D0;
}

.orange {
		background-color: #e67e22;
		box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
		background-color: #FF983C;
}

.yellow {
		background-color: #f1c40f;
		box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
		background-color: #FFDE29;
}

/* copyright stuffs.. */
p {
		text-align: center;
		color: #55acee;
		padding-top: 20px;
}

#avocado {
		/* Set font size to adjust the size of the avocado */
		font-size: 10px;
		width: 18.25em;
		height: 25em;
		margin: 5% auto;
		background-color: #ABC637;
		border: 0.25em solid #46563a;
		border-radius: 60% / 80% 80% 50% 50%;
		box-shadow: inset 0 1.25em 4em 1.5625em #548035;
}

#avocado:before {
		height: 1.5%;
		width: 8%;
		float: left;
		margin-left: 46%;
		margin-top: -.5em;
		content: "";
		display: block;
		background-color: #5b392a;
		border-bottom: 0.25em solid #46563a;
		border-radius: 40%/30%;
		box-shadow: inset -4px 0px 5px 0px rgba(0, 0, 0, .5);
}

#avocado:after {
		height: 45%;
		width: 58%;
		position: relative;
		top: 44%;
		left: 21%;  
		content: "";
		display: block;
		background-color: #ABC637;
		border-radius: 100%;
		box-shadow: inset 35px 65px 55px 15px rgba(0, 0, 0, .25),
		inset 10px 10px 40px 10px rgba(0, 0, 0, .2);
}
